<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nike_Shop_Management.Properties.Settings.db_BanQuanAoConnectionString" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=db_BanQuanAo;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Nike_Shop_Management.Properties.Settings.db_BanQuanAoConnectionString1" connectionString="Data Source=MSI\QUANGDIEU;Initial Catalog=db_BanQuanAo;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
        <add name="Nike_Shop_Management.Properties.Settings.qqqConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=qqq;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="Nike_Shop_Management.Properties.Settings.Database1ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DAL\Database1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Nike_Shop_Management.Properties.Settings.Nike_DBConnectionString" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Nike_DB;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Nike_Shop_Management.Properties.Settings.Nike_DBConnectionString1" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=Nike_DB;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.68.0.0" newVersion="1.68.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.68.0.0" newVersion="1.68.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.68.0.0" newVersion="1.68.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
