<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibDAL.Properties.Settings.Nike_DBConnectionString1"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=Nike_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LibDAL.Properties.Settings.Nike_DBConnectionString"
            connectionString="Data Source=MSI\QUANGDIEU;Initial Catalog=Nike_DB;Persist Security Info=True;User ID=sa;Password=123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="LibDAL.Properties.Settings.Nike_DBConnectionString2"
            connectionString="Data Source=LAPTOP-VF2P0PFO\MSSQL2022;Initial Catalog=Nike_DB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="LibDAL.Properties.Settings.Nike_DBConnectionString3"
            connectionString="Data Source=MSI;Initial Catalog=Nike_DB;User ID=sa;Password=Hoan123321;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>